body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url(wp7084089.jpg);
}
h1{
    color: #333;
}
p{
    color: #333;
}
button{
    border-radius: 4px;
    background-color: rgb(15, 115, 197);
    border: none;
    color: #ffffff;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
button.span{
    cursor: pointer;
    display: inline-block;
    border-radius: 4px;
    background-color: aqua;
    border: none;
    color: #ffffff;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
button span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
button span:after{
    content: '\00bb';
    position: absolute;ve;
    transition: 0.5s;
}
button span:after{
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;e;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
button:hover span{
    padding-right: 25px;
}
button:hover span:after{
    opacity: 1;
    right: 0;
}
footer{
    background: transparent;
    background-color: #333;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
 
}
.pr{
    color: aliceblue;
    text-align: center;
}
a{
    color: aliceblue;
}
